/* Notas del diseño

inkwell #363945 
Body es todo el espacio
Contenido es el main, o la caja tipográfica

selectores:
All CSS Simple Selectors
Selector                Example                   Example description
#id                     #firstname                Selects the element with id="firstname"
.class                  .intro                    Selects all elements with class="intro"
element.class           p.intro                   Selects only <p> elements with class="intro"
*                       *                         Selects all elements
element                 p                         Selects all <p> elements
element,element,..      div, p                    Selects all <div> elements and all <p> elements

/* CSS HEX
--jet-grisoscuro: #353535ff;
--ming-verde: #3c6e71ff;
--white: #ffffffff;
--gainsboro-grisclaro: #d9d9d9ff;
--indigo-dye-azulado: #284b63ff;
 #f5f5f5 gris mas clarito
*/


@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800&display=swap');



.encabezado{
  padding: 3rem 4rem 20rem 4rem;
  margin: auto;
  text-align: center;
}
.regleta{
  height: 40px;
  background: #284b63ff;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #fffffff;
}
h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2.3em;
  color: #284b63ff;
  font-weight: 800;
}
h2{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2em;
  color: #284b63ff;
  font-weight: 500;
}
h3{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1em;
  color: #284b63ff;
  font-weight: 400; 
}
p {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2em;
  color: #353535ff;
}
nav .menu {
  background-color: #353535ff;
  padding: 20px;
  list-style: none;
}
nav a {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #ffffffff;
}
ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
}
li {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.4em;
  font-style: italic;
  color: #284b63ff;
  display: inline;
  margin: 10px;
  padding: 1em;
  background: red;
}
/*esto es el estilo de los anchor o links*/
a:link {
  text-decoration: none;
  color: #284b63ff;
}
a:visited {
  text-decoration: none;
  color: #284b63ff;
}
a:hover {
  text-decoration: underline;
  color: #ffffffff;
}
a:active {
  text-decoration: underline;
}
.estiloseccion1{
  background-color: #d9d9d9ff;;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  padding: 4rem 5vw 3rem;
} 
.estiloseccion2{
  background-color: #f5f5f5;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  padding: 4rem 5vw 3rem;
}
.contenedor2{
  background-color: #f5f5f5;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  padding: 4rem 5vw 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 3rem;  
}
/* ejercicio1 4col fiusha----------------------------------------*/
.listademo {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
.lista1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.4em;
  font-style: italic;
  color: #284b63ff;
  display: inline;
  margin: 10px;
  padding: 1em;
  background: #f72585;
}
